* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

button {
	font-size: 60px;
	width:100%;
	margin-top: 10px;
}

button.stop {
}

/*
#controls {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 20%;
	margin:auto;
	text-align:center;
	background-color: #BEBEBE;
	padding: 3px;
}
*/

tr {
	color: #FFF;
}

#controls > h1 {
	padding-bottom: 10px;
}
